.header-wrapper {
    align-items: center;
    background-color: #efeae7;
    display: flex;
    font-family: 'Playfair Display', serif;
    height: 100px;
    justify-content: center;
    margin-bottom: 30px;
    background-color: #353539d5;
    margin: 30px auto;
}

.header-title {
    color: #59C3C3;
    font-size: 1.8rem;
    font-weight: 700;
    margin: 0;
  }

  .header-icon {
    height: 50px;
    margin-left: 20px;
  }

  .header-icon.info-icon {
      height: 35px;
  }