.header-wrapper {
    align-items: center;
    background-color: #efeae7;
    display: flex;
    font-family: 'Playfair Display', serif;
    height: 100px;
    justify-content: center;
    padding: 70px;
}

.header-title {
    color: #59C3C3;
    font-size: 1.8rem;
    font-weight: 700;
    margin: 0;
  }