.details-wrapper {
    background-color: #efeae7;
    padding-bottom: 55px;
}

.goback-btn {
    height: 55px;
    margin-left: 50px;
}

.details-info {
    display: block;
    background: white;
    border-radius: 8px;
    margin: auto;
    padding: 35px;
    width: 80%;
}

.details-info p {
    color: #071115ad;
    font-family: 'Playfair Display', serif;
    font-size: 1.5rem;
    font-weight: 700;
}

.details-info .info-title{
    font-size: 2.5rem;
    margin-bottom: 0;
}

.details-info .info-subtitle {
    font-size: 1.8rem;
    color: #07111583;
    font-style: italic;
    margin-bottom: 2rem;
}

.details-info .info-text{
    color: #59c3c3;
    font-size: 1.2rem;
    font-weight: 400;
}

.rating-wrapper {
    display: flex;
    align-items: flex-end;
}

.info-text.rating-num {
    font-size: 1.8rem;
    margin-left: 25px;
}

.details-info .visual-details {
    display: flex;
    justify-content: space-evenly;
}

.visual-details img {
    height: 250px;
    border-radius: 5px;
}

span {
    display: flex;
    height: fit-content;
    align-items: center;
    margin: auto 0;
}

.details-info.similar-list-container {
    margin-top: 50px;   
}

